#cPano{
	position: absolute;
	top: 8px;
	left:8px;
	font-family: Meirio;
	font-size: 30px;
	color: #ffffff;
	background-color: rgba(0,0,0,0.55);
}

#aAno{
	position: fixed;
	top: 8px;
	left:700px;
	font-family: Meirio;
	font-size: 20px;
	color: #ffffff;
	background-color: rgba(0,0,0,0.25);
}

a:link { color: #0000ff; }
a:visited { color: #000080; }
a:hover { color: #ff0000; }
a:active { color: #ff8000; }

